pipeline/pl_ingest_formula1_data.json
{
	"name": "pl_ingest_formula1_data",
	"properties": {
		"activities": [
			{
				"name": "Get Folder Details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:20:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_forumal1_raw",
						"type": "DatasetReference",
						"parameters": {
							"p_window_end_date": {
								"value": "@pipeline().parameters.p_file_date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Folder Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Folder Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Folder Details').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "nb_formula1_circuits",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/ncdkirwan@gmail.com/formula1/ingestion/1.ingest_circuts_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@pipeline().parameters.p_data_source",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "nb_formula1_Races",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "nb_formula1_circuits",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/ncdkirwan@gmail.com/formula1/ingestion/2.ingest_races_file",
								"baseParameters": {
									"p_data_source": {
										"value": "@pipeline().parameters.p_data_source",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "nb_formula1_constructors",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/ncdkirwan@gmail.com/formula1/ingestion/3.ingest_constructors_data",
								"baseParameters": {
									"p_data_source": {
										"value": "@pipeline().parameters.p_data_source",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "nb_formula1_Drivers",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "nb_formula1_constructors",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/ncdkirwan@gmail.com/formula1/ingestion/4.ingest_drivers_data",
								"baseParameters": {
									"p_data_source": {
										"value": "@pipeline().parameters.p_data_source",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "nb_formula1_Qualifying",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/ncdkirwan@gmail.com/formula1/ingestion/8.ingest_Qualifying_data",
								"baseParameters": {
									"p_data_source": {
										"value": "@pipeline().parameters.p_data_source",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "nb_formula1_LapTimes",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "nb_formula1_Qualifying",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/ncdkirwan@gmail.com/formula1/ingestion/7.ingest_laptimes_data",
								"baseParameters": {
									"p_data_source": {
										"value": "@pipeline().parameters.p_data_source",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "nb_formula1_pitstop",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/ncdkirwan@gmail.com/formula1/ingestion/6.ingest_pitstops_data",
								"baseParameters": {
									"p_data_source": {
										"value": "@pipeline().parameters.p_data_source",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "nb_formula1_Results",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "nb_formula1_pitstop",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:30:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/ncdkirwan@gmail.com/formula1/ingestion/5.ingest_results_data",
								"baseParameters": {
									"p_data_source": {
										"value": "@pipeline().parameters.p_data_source",
										"type": "Expression"
									},
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_course",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"p_data_source": {
				"type": "string",
				"defaultValue": "Ergast Azure Data Source"
			},
			"p_file_date": {
				"type": "string"
			}
		},
		"variables": {
			"v_file_date": {
				"type": "String"
			}
		},
		"annotations": []
	}
}