pipeline/pl_process_formula1_data.json
{
	"name": "pl_process_formula1_data",
	"properties": {
		"activities": [
			{
				"name": "EXE_ingestions",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_ingest_formula1_data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_date": {
							"value": "@pipeline().parameters.p_window_end_date",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "EXE_Transformation",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "EXE_ingestions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_ingest_formula1_data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_data_source": {
							"value": "@variables('v_data_source')",
							"type": "Expression"
						},
						"p_file_date": {
							"value": "@pipeline().parameters.p_window_end_date",
							"type": "Expression"
						}
					}
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"p_window_end_date": {
				"type": "string"
			}
		},
		"variables": {
			"v_data_source": {
				"type": "String",
				"defaultValue": "Ergast Azure Data Source"
			}
		},
		"annotations": []
	}
}