databricksdfk/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "databricksdfk"
		},
		"ls_databricks_course_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0726-160502-c51r9z2s"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_databricks_course')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-6207633747003885.5.azuredatabricks.net",
					"authentication": "MSI",
					"workspaceResourceId": "/subscriptions/9c70ea05-4dff-4067-a497-154a0e069335/resourceGroups/databricks_course_dk/providers/Microsoft.Databricks/workspaces/db_course_ws",
					"existingClusterId": "[parameters('ls_databricks_course_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_formula1_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "nb_formula1_circuits",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/ncdkirwan@gmail.com/formula1/ingestion/1.ingest_circuts_file",
							"baseParameters": {
								"p_data_source": {
									"value": "@pipeline().parameters.p_data_source",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_course",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nb_formula1_Races",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "nb_formula1_circuits",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/ncdkirwan@gmail.com/formula1/ingestion/2.ingest_races_file",
							"baseParameters": {
								"p_data_source": {
									"value": "@pipeline().parameters.p_data_source",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_course",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nb_formula1_constructors",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/ncdkirwan@gmail.com/formula1/ingestion/3.ingest_constructors_data",
							"baseParameters": {
								"p_data_source": {
									"value": "@pipeline().parameters.p_data_source",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_course",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nb_formula1_Drivers",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/ncdkirwan@gmail.com/formula1/ingestion/4.ingest_drivers_data",
							"baseParameters": {
								"p_data_source": {
									"value": "@pipeline().parameters.p_data_source",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_course",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nb_formula1_Qualifying",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "nb_formula1_Drivers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/ncdkirwan@gmail.com/formula1/ingestion/8.ingest_Qualifying_data",
							"baseParameters": {
								"p_data_source": {
									"value": "@pipeline().parameters.p_data_source",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_course",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nb_formula1_LapTimes",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/ncdkirwan@gmail.com/formula1/ingestion/7.ingest_laptimes_data",
							"baseParameters": {
								"p_data_source": {
									"value": "@pipeline().parameters.p_data_source",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_course",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nb_formula1_pitstop",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "nb_formula1_LapTimes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/ncdkirwan@gmail.com/formula1/ingestion/6.ingest_pitstops_data",
							"baseParameters": {
								"p_data_source": {
									"value": "@pipeline().parameters.p_data_source",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_course",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "nb_formula1_Results",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "nb_formula1_constructors",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:30:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/ncdkirwan@gmail.com/formula1/ingestion/5.ingest_results_data",
							"baseParameters": {
								"p_data_source": {
									"value": "@pipeline().parameters.p_data_source",
									"type": "Expression"
								},
								"p_file_date": {
									"value": "@formatDateTime(pipeline().parameters.p_file_date, 'yyyy-MM-dd')",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_databricks_course",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"p_data_source": {
						"type": "string",
						"defaultValue": "Ergast Azure Data Source"
					},
					"p_file_date": {
						"type": "string"
					}
				},
				"variables": {
					"v_file_date": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_databricks_course')]"
			]
		}
	]
}